.content {
    max-width: 750px;
    box-sizing: border-box;
    margin: 10px 10px 0;
}

.my-table table {
    table-layout: fixed;
    width: 100%;
    height: 273px;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    background: #fff;
    font-family: "Arial", "Arial", serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
}

.my-table th, td {
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 10px 15px 10px 10px;
    text-align: left;
    width: 20%;
}

.my-table .col-width1 {
    width: 36%;
}

.my-table .col-width2 {
    width: 23%;
}

.my-table .table-head {
    background: #3498DB;
    color: #fff;
}

.my-table tr:nth-child(2n) {
    background: #EEEEEE;
}