.content {
    max-width: 749px;
    box-sizing: border-box;
    margin: 10px 10px 0;
}

table {
    width: 750px;
    height: 273px;
    border: 1px solid #DDDDDD;
    background: #fff;
    font-family: "Arial", "Arial", serif;
    font-size: 18px;
    font-weight: lighter;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 10px 15px 10px 10px;
    text-align: left;
    width: 20%;
}

.col-width1 {
    width: 36%;
}

.col-width2 {
    width: 23%;
}

.table-head{
    background: #3498DB;
    color: #fff;
}

tr:nth-child(2n) {
    background: #EEEEEE;
}