* {
    box-sizing: border-box;
}

.content {
    margin: auto;
    display: block;
    font-family: Arial, sans-serif;
}

.block {
    margin: auto;
    max-width: 840px;
}

.content .title {
    font-weight: lighter;
    font-size: 33px;
    color: #766E68;
    margin: 0 21px 3px;
}

.content .form {
    padding: 21px 21px 15px;
    background: #FEEED6;
}

.content .submit-button {
    display: block;
    background: #378DB2;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 13px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: auto;
}

.content .submit-button:hover {
    background: #37A599;
}

.content .group {
    font-size: 16px;
    font-weight: bold;
    color: #6A6968;
    width: 100%;
    margin-bottom: 18px;
}

.content .comment {
    padding-top: 2px;
}

.content input.text-field {
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 7px;
    padding: 6px 12px;
}

.content textarea {
    display: block;
    width: 100%;
    height: 130px;
    resize: vertical;
    min-height: 60px;
    border: none;
    margin-top: 7px;
    padding: 12px;
}

.content .string {
    font-size: 16px;
    color: #6A6968;
    font-weight: lighter;
}